@font-face {
    font-family: "Abel";
    src: url(assets/fonts/Abel-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Abel";
}

table {
    border: 1px solid #CCC;
}

th {
    text-align: start;
}

th > label {
    font-family: "Abel";
}

th, td {
    padding: 10px;
}

.container {
    width: 50dvw;
    height: 80dvh;
    margin: 10dvh 25dvw;
    padding: 15px;
    box-sizing: border-box;
}