@font-face {
    font-family: Abel;
    src: url(assets/fonts/Abel-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: Abel;
}

p {
    text-align: justify;
}

strong {
    text-decoration: underline;
}

ol {
    padding-left: 40px;
}

table {
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    width: 1%;
    text-align: left;
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type="text"] {
    width: 100%;
}

#container {
    height: 60dvh;
    width: 50dvw;
    padding: 15px;
    margin: 20dvh 25dvw;
    box-sizing: border-box;
    border: 1px solid;
    box-shadow: -5px 5px red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.session-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    row-gap: 12px;
}

.input-selector {
    width: 1%;
}

#table-container {
    align-self: center;
    padding-inline: 50px;
}